
.blog-stories {
    padding: 0;
    margin:0; 
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columnas iguales */
    gap: 20px; /* Espaciado entre tarjetas */
    margin: 20px; /* Espaciado general */
  }
 
  
.card {
    background-color: yellow; /* Color de fondo */
    /* border: 1px solid #ddd;  */

    overflow: hidden; /* Evita que elementos internos se salgan */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  /* .card:hover {
    transform: scale(1.05); 
  } */
  
  /* Contenedor de las imágenes */
  .card img {
    width: 100%;
    height: 290px; /* Ajusta la altura de las imágenes */
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px; /* Espaciado interno para el contenido */
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 0;
    margin-top: 0;
    color: black;

  }
  
  .card-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
    font-style: italic;
  }
  

  @media (max-width: 1024px) {
    .posts {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
    }
  }
  
  @media (max-width: 768px) {
    .posts {
      grid-template-columns: 1fr; /* 1 columna en móviles */
    }
  }
  