.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: none;
    background-color: var(--color-navBar);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    outline: 2px solid white;
    backdrop-filter: blur(5px);
}

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar nav a {
    height: 80%;
}

.navbar nav a:hover {
    cursor: pointer;
}

.navbar nav a img {
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    position: relative;
    padding: 20px;
}

.navbar ul li a {
    color: var(--font-color-navBar);
    font-size: 0.8rem;
    font-weight: bold;

}

.navbar ul li a:hover,
#experiences-box a:hover {
    color: var(--font-color-navBar-hover);
    cursor: pointer;
}

#experiences-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--color-navBar);
    width: 250px;
    text-align: left;
}

#experiences-box a {
    color: var(--font-color-navBar);
}

#experiences-box p {
    color: var(--font-color-navBar);
    margin: 0;
    font-size: 1rem;
}

.left-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.right-bar {
    display: flex;
}

.right-bar ul {
    display: flex;
}