.details-container {
    display: flex;
    width: 100%;
}

.details-section-included,
.details-section-extras {
    flex: 1;
    padding: 10px;
}

.details-section-included {
    background-color: #212121;
    color: white;
}

.details-section-extras {
    background-color: #e0e0e0;
}

.details-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.details-section-included .details-title {
    color: white;
    border-bottom: 1px solid white;
    
}

.details-section-extras .details-title {
    color: black;
    border-bottom: 1px solid black;
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (max-width: 768px) {
    .details-container {
        flex-direction: column;
    }

    .details-section-included,
    .details-section-extras {
        padding: 30px 20px;
    }

    .details-title {
        font-size: 28px;
        margin-bottom: 20px;
    }
}