.client-main-profile {
    display: grid;
  grid-template-columns: 250px 1fr; /* Primera columna fija de 250px, segunda columna usa el espacio restante */
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 64px);
    margin-top: 180px; 
  }
  
  .nav-section {
    width: 250px;
  }
  
  .content-section {
    flex: 1;
  }

