.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: justify;
    height: 100vh;
    margin-top: 400px;
    margin-left: 150px;
    margin-right: 150px;
}

.contact-page {
    width: 50%;
    align-items: justify;
}

.form{
    width: 50%;
}